<!DOCTYPE html>
<html lang="en" ng-app="timusAnalizer" class="no-js">
    <head>
        <title>Timus Analizer</title>
        <link rel="stylesheet" href="http://css-spinners.com/css/spinner/throbber.css" type="text/css">
    </head>
    <body ng-controller="RootCtrl">
        
        <input ng-model="url" />
        <button style="display:inline-block;"ng-click="loadPage(url)"> Load </button>
        <span style="position: absolute;">
            <div ng-class="{throbber:loading}" style="font-size: 5px;"></div>
        </span> 
        <br>

        <h4 style="text-align:center;">Input</h4>
        <input-analizer></input-analizer>

        <h4 style="text-align:center;">Output</h4>
        <output-analizer></output-analizer>
        
        <script data-main="app/main" src="node_modules/requirejs/require.js"></script>
    </body>
</html>