<!DOCTYPE html>
<html lang="en" ng-app="timusAnalizer" class="no-js">
    <head>
        <title>Timus Analizer</title>
        <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="app/css/style.css" type="text/css">
        <link rel="stylesheet" href="http://css-spinners.com/css/spinner/throbber.css" type="text/css">
    </head>
    <body ng-controller="RootCtrl">
        
        <div class="container-body">
            <form ng-submit="loadPage(url)">
                <input type="text" ng-model="url" name="text" />
                <input type="submit" id="submit" value="Load" />
                <span style="position: absolute;padding-left:10px;">
                    <div ng-class="{throbber:loading}" style="font-size: 5px;"></div>
                </span> 
            </form>
            <h4 ng-bind="problemNumber"></h4>
            <div>
                <word-counter></word-counter>
            </div>
            <div class="row timus-row">
                <div ng-click="isInputVisible = !isInputVisible">
                    <hr>
                    <h5>Input
                    <span class="glyphicon" ng-class="{'glyphicon-menu-down': isInputVisible, 'glyphicon-menu-right': !isInputVisible}"></span>
                    </h5>
                </div>
                <input-analizer ng-show="isInputVisible"></input-analizer>
            </div>

            <div class="row timus-row">
                <div ng-click="isOutputVisible = !isOutputVisible">
                    <hr>
                    <h5>Output
                    <span class="glyphicon" ng-class="{'glyphicon-menu-down': isOutputVisible, 'glyphicon-menu-right': !isOutputVisible}"></span>
                    </h5>
                </div>
                <output-analizer ng-show="isOutputVisible"></output-analizer>
            </div>
            
            <div class="array-problems-analizer">
                <div ng-click="isArrayProblemListVisible = !isArrayProblemListVisible">
                    <hr>
                    <h5>Array Lists
                    <span class="glyphicon" ng-class="{'glyphicon-menu-down': isArrayProblemListVisible, 'glyphicon-menu-right': !isArrayProblemListVisible}"></span>
                    </h5>
                </div>
                <div ng-include="'app/directives/array-list/array-list.html'" ng-if="isArrayProblemListVisible">
                </div>
            </div>

        </div>
        
        <script data-main="app/main" src="node_modules/requirejs/require.js"></script>
    </body>
</html>