
.container-body {
	padding: 10px 50px 20px 50px;
}
.timus-row {
	margin: 0;
}
.timus-row div:first-child{
	cursor: pointer;
}

.word-counter {
	margin-top: 15px;
}
.word-counter > word-counter-item {
	float: left;
}
word-counter-item .row {
	margin: 0 !important;
}
.word-counter button {
	padding: 3px 8px;
	//margin-right:5px;
	//margin-left: 0;
	font-size: 12px;
}
.word-counter-data-section {
	width: 100%;
	margin-top: 20px;
	overflow: auto;
}
.input-txt {
	padding: 0 0px 15px 10px;
}
input-analizer {
	width: 20%;
}
.input-data {
	float: left;
	width: 22%;
}
.input-data > pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
.filtered-data pre {
  overflow: auto;
  max-height: 290px;
  word-wrap: normal;
  white-space: pre;
}
.filtered-data {
	max-height: 350px;
	min-width: 20%;
	float: left;
	width: 20%;
	margin: 15px 0 10px 15px;
	border: 1px solid #A1C1D1;
	border-radius: 4px;
	padding: 0px;

}
.filter-by-section {
	margin: 10px 10px 0 14px;
}
.words-sentances {
	width: 75%;
	max-height: 350px; 
	overflow: scroll;
	float:left;
	left: 50px;
	margin-top: 15px;
	margin-left: 25px;
	border: 1px solid #A1C1C1;
	border-radius: 4px;
	padding: 10px;
}
.sentances > div > div {
	float: left;
	padding: 15px 5px 0 0;
}
.sentances pre {
	overflow: auto;
    max-height: 325px;
    word-wrap: normal;
    white-space: pre;
}
.filtered-data label {
	font-size: 15px;
	font-weight: 100;
	color: #C88898;
	margin-right: 25px;
}
.filtered-data span {
	font-size: 10px;
	cursor: pointer;
}

.filtered-data input {
	border: 1px solid #C8C8C8;
	margin-top: 2px;
	padding: 6px;
	border-radius: 3px !important;
	height: 20px;
	width: 25px;
}
.count-word-item-label {
	font-weight: 400;
	//background: red
}
.count-words-part > div {
	padding: 10px;
}

export, .table-data-content label, .table-data-content .glyphicon {
	cursor: pointer;	
}

.word-counter-ietm-data-container {
	float: left;
	border: 1px solid #C8C8C8;
	border-radius: 5px;
	margin: 0 0 10px 0;
	width: 100%;
}

/* Table Data Content */
.table-data {
	width: 95%;
	float: left;
	margin: 0 0 10px 30px;
}
.table-data-content {
	float: left;
	margin: 0 0 10px 30px;
	padding: 0 10px;
	border: 1px solid #C8C8C8;
	border-radius: 5px;
	border: 1px solid green;
}

.array-problems-analizer input {
	width: 50px;
	padding: 0 5px;
	border: 1px solid #AAA;
	border-radius: 3px;
}
.array-problems-analizer button {
	margin: 1px;
	padding: 2px 10px;
}

.section-all {
	margin-top: 25px;
	border-top: 1px solid red;
}
.section-all > div:first-child {
	text-align: center;
	color: red;
}