.word-counter {
	margin-top: 15px;
}
.word-counter > word-counter-item {
	float: left;
}
word-counter-item .row {
	margin: 0 !important;
}
.word-counter button {
	padding: 3px 8px;
	//margin-right:5px;
	//margin-left: 0;
	font-size: 12px;
}
.word-counter-data-section {
	width: 100%;
	margin-top: 20px;
	overflow: auto;
}
.input-txt {
	padding: 0 0px 15px 10px;
}
input-analizer {
	width: 20%;
}
.input-data {
	float: left;
	width: 22%;
}
.input-data > pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
.filtered-data pre {
  overflow: auto;
  max-height: 300px;
  word-wrap: normal;
  white-space: pre;
}
.filtered-data {
	max-height: 350px;
	float: left;
	width: 20%;
	margin-left: 20px;
}
.words-sentances {
	width: 75%;
	max-height: 350px; 
	overflow: scroll;
	float:left;
	left: 50px;
	margin-left: 15px;
}
.sentances > div > div {
	float: left;
	padding: 15px 5px 0 0;
}
.sentances pre {
	overflow: auto;
    max-height: 325px;
    word-wrap: normal;
    white-space: pre;
}
.filtered-data label {
	font-size: 11px;
}
.filtered-data input {
	height: 20px;
	width: 25px;
	border-radius: 5px;
}
.count-word-item-label {
	font-weight: 400;
}
.count-words-part > div {
	margin-top: 15px;
	padding: 10px;
	backround: red;
	//float: left;
}

export {
	cursor: pointer;	
}
